# Tests
https://towardsdatascience.com/how-to-visualize-interactive-3d-network-with-python-plotly-4ef6989d83cc

In [36]:
from igraph import *
import pandas as pd
import mysql.connector
from pathlib import Path

In [9]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database = "pharmagelder"
)

In [39]:
df_transactions = pd.read_sql("""SELECT
  rec_id as target,
  tra_fk_pharma as source,
  rec_name as name,
  sum(tra_value) as weight
 FROM transaction
  LEFT JOIN transaction_category ON tra_fk_transaction_category = transaction_category.trc_id
  LEFT JOIN recipient ON tra_fk_recipient = recipient.rec_id
  GROUP BY tra_fk_recipient, tra_fk_pharma
  ORDER BY rec_name DESC""", con=db_connection)

In [40]:
# Update IDs
df_transactions['source'] = df_transactions['source'].apply(lambda x: x + 1000000)

In [41]:
df_recipients = pd.read_sql("""SELECT
  rec_id as id,
  rec_name as name
 FROM recipient""", con=db_connection)

df_pharma = pd.read_sql("""SELECT
  pha_id as id,
  pha_name as name
 FROM pharma""", con=db_connection)

df_pharma['id'] = df_pharma['id'].apply(lambda x: x + 1000000)

df_nodes = pd.concat([df_recipients, df_pharma])

In [43]:
df_transactions.to_csv(Path('../export/edges.csv'), index=False)
df_nodes.to_csv(Path('../export/nodes.csv'), index=False)

In [35]:
df_nodes.head()

      id                                               name
0   8512        1. Schweizer Fachtag neuro.psycho.geriatrie
1   8513                         19. Journées Franco-Suisse
2  12772  2. Zürcher Brustkrebs Symposium 1. 11.2018 Org...
3   8514  20. Ostschweizer Symposium für praktische Gynä...
4   8515                                           360 GmbH

In [ ]:
df_pharmas = pd.read_sql("SELECT ")

In [30]:

df_transactions.head()

      id   pharma                                        name     value
0  14265  1000034                           Zwisler Christoph   1070.35
1   8428  1000037                            Zuzana Tatickova    426.41
2  10520  1000050  Zurich Academy of Internal Medicine (ZAIM)  16400.00
3  10520  1000045  Zurich Academy of Internal Medicine (ZAIM)  30135.00
4  10520  1000019  Zurich Academy of Internal Medicine (ZAIM)  14070.00

In [4]:
g = Graph()

In [5]:
g.add_vertices(3)
g.add_edges([(0,1), (1,2)])